timezone parsing for native abbreviated UTC fails

My timezone is set to UTC, which means that the API (apparently) uses the usual shortened version also described in ISO 8601 or [the more accessible RFC 3339 section 2](https://datatracker.ietf.org/doc/html/rfc3339#section-2), for instance: `2023-05-24T20:43:16Z`.
This in turn causes issues with not just the implementation in `ext/date` (i.e. the `std::chrono::parse` polyfill due to some compilers like GCC not yet having fully implemented C++20), but the actual definition of the parser as far as I can tell from various places around the internet, among them some documents from people involved in the standards, previews of how the new API is to be used, but probably easiest [the cppreference on `std::chrono::parse`](https://en.cppreference.com/w/cpp/chrono/parse#Format_string), which describes the format as being a time offset, not mentioning the possible `Z` suffix for UTC at all for the `%z` format, which is used in the code:

https://github.com/ahodesuka/ahoviewer/blob/42e16f94b78496e3e346f0d127baa569039a6757/src/booru/site.cc#L863

Which prevents any results from being properly parsed, making all dates the unix epoch of 1970-01-01 and yielding this error message:

```text
Failed to parse date '2023-05-24T20:43:16Z' on site Danbooru
```

I haven't found anything on how to properly parse RFC 3339 strings using C++ in that regard, but it seems that the corresponding parsing would've to be split into one using the above format and another fallback using something like `date::parse("%FT%TZ", t);` which would have to hard set the timezone for that result to UTC.

The issue seems to be specifically with the data returned from the Danbooru API, as changing the timezone in the account settings works, changing the local timezone (i.e. running as `env TZ=Europe/Vienna ahoviewer`) does not change the outcome.
When not using any credentials to log in (i.e. account-specific settings are not active) it works too.

I think I am having a similar issue with Gelbooru. But I get this weird output:

```
Rule	Mexico	1931	only	-	April	30	0:00	1:00	D
Mexico         1931    1931    Jan/01                  00:00:00       00:00:00   
Failed to fetch IANA timezone database, times will be displayed in UTC
```

When running an image search, I just get this output in loop but no picture is displayed. Ahoviewer is just stuck in a loop and I have to kill it.

It was working fine like 2 weeks ago. Also I do not know where this "Mexico" comes from, it is not my timezone.

Both of these issues should be fixed with 4cb3fdd920ea396dce3e9e0c5166f733246659fa

The original issue is not fixed with 4cb3fdd920ea396dce3e9e0c5166f733246659fa. When trying to reproduce with the current *master* (7a5b88f3b1455c9f2d6b5638a11c6ca1ed0e91d7) I'm running into a hard crash which I'll try to bisect in a moment.

Considering there has been no change to the referenced line of *src/booru/site.cc* from the OP I doubt that *master* will behave any different.

Alright I've re-read the initial issue and see now that it isn't fixed, but I see how to fix it.

I can confirm that this fixes my issue, thanks!
![screenshot of the "posted" time of an image showing something other than 1970-01-01](https://github.com/user-attachments/assets/96a3dae5-c1a6-4fa8-848f-f6621727ea65)
